.contaienr {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

.globalContainer {
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}

.sharedContainerX1 {
    width: 100vw;
}

.sharedContainerX2 {
    width: 200vw;
}

.sharedContainerX3 {
    width: 300vw;
}

.sharedContainerDisplay1o2 {
    position: relative;
}

.sharedContainerDisplay2o2 {
    position: relative;
    right: 100vw;
}

.sharedContainerDisplay1o3 {
    position: relative;
}
.sharedContainerDisplay2o3 {
    position: relative;
    right: 100vw;
}
.sharedContainerDisplay3o3 {
    position: relative;
    right: 200vw;
}